* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

#product-overview {
  background: url("freedom.jpg");
  width: 100%;
  height: 528px;
  padding: 10px;
}

.section-title {
  color: black;
  text-align: center;
  font-family: montserrat;
  font-weight: normal;
  font-size: 40px;
}

#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
}

/* h1 {
    font-family: sans-serif;
} */

.plan_article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}

.plan {
  background: #07575b;
  text-align: center;
  display: inline-block;
  margin: 25px;
  width: 30%;
  padding: 8px;
  box-shadow: 0px 0px 10px 10px rgba(75, 67, 67, 0.4);
  border-radius: 10px;
}

.plan__price {
  color: #66a5ad;
}

.plan__h1 {
  color: #003b46;
  background: white;
  border-radius: 5px;
  padding: 10px 5px;
  margin-inline: 30px;
  box-shadow: 2px 2px 2px 2px rgba(100, 90, 90, 0.5);
}

.plan h1:not(.plan__h1):not(.plus__title),
.plan h2:not(.plus__price) {
  color: #c4dfe6;
}

.plus__title,
.plus__price {
  color: #34675c;
  text-shadow: -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255),
    1px -1px 0 rgb(255, 255, 255), -1px -1px 0 rgb(255, 255, 255);
}

.plan h3 {
  color: white;
}

.plan__features {
  list-style: none;
  color: white;
  padding: 0px;
}

.plan__features li {
  margin: 8px 0px;
}

.features-section-title {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}

#key-features {
  background-color: #e04623;
  padding: 25px;
  list-style: none;
}

.key-features {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 80px 10px 120px;
}

.key-features p {
  color: rgb(255, 255, 255);
  width: 220px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.key__circle {
  background-color: rgb(255, 197, 241);
  padding: 50px;
  width: 40px;
  border: 2px solid #222222;
  border-radius: 100px;
  margin-inline: 60px;
  align-items: center;
}
